# Ignore Rstudio files
.Rproj.user/
.Rproj

# Ignore data and history files
.Rhistory
.RData
.Ruserdata
section_3/*.RData
section_3/cpp/*.o
section_3/cpp/*.so
section_3/results_pred_popweighted_fixed/*.RData
section_3/README_cache
section_4/cpp/*.o
section_4/cpp/*.so
section_4/*.RData
section_4/README_cache